body {
  margin: 0;
  padding: 2vw;
  font-family: "Poiret One", cursive;
  background-color: #28282b;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main {
  height: 100vh;
}

.title {
  margin-top: -30px;
  font-size: 4rem;
  font-family: "Bungee Shade", cursive;
  color: white;
  text-align: center;
}

.container {
  margin-top: -20px;

  color: rgb(9, 196, 209);
  padding: 30px;
  background-color: #28282b;
  border: 10px double rgb(9, 196, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  margin-top: 3rem;
  font-family: "Poiret One", cursive;
  padding: 1rem;
  align-self: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out 0s;
}

.btn:hover {
  transform: scale(1.2);
}
