body {
  margin: 0;
  padding: 10px;
  font-family: "Poiret One", cursive;
  background-color: rgb(9, 196, 209);
  overflow: hidden;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

span {
  position: absolute;
  left: 50%;
  right: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: -30px;
  font-size: 3.2rem;
  height: min-content;
  font-family: "Bungee Shade", cursive;
}

input {
  width: 4rem;
  font-size: 2rem;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.btn {
  margin-left: 1rem;
  height: 2rem;
  font-family: "Georgia";
  font-size: 1rem;
}

.btn:hover {
  background-color: rgb(9, 196, 209);
}

.end {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 1.5rem;
  height: 3rem;
  margin: 1rem;
}

.end:hover {
  background-color: rgb(9, 196, 209);
}

.container {
  margin-top: -20px;
  color: white;
  background-color: black;
  border: 10px double white;
  width: 300px;
  height: auto;

  justify-content: center;
  text-align: center;
}
