body {
  margin: 0;
  padding: 10px;
  font-family: "Poiret One", cursive;
  background-color: #04a366;
  overflow: hidden;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main {
  left: 50%;
  right: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ml6 {
  z-index: 10;
  position: relative;
  font-size: 4rem;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.title {
  color: white;
  font-family: "Bungee Shade", cursive;
}

input {
  width: 4rem;
  font-size: 2rem;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.btn {
  font-family: "Poiret One", cursive;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.2s ease-in-out 0s;
}

.btn:hover {
  background-color: rgb(9, 196, 209);
  transform: scale(1.1);
}

.end {
  font-weight: bold;
  font-size: 1.5rem;
  height: 3rem;
  margin: 1rem;
}

.end:hover {
  background-color: rgb(9, 196, 209);
}

.container {
  z-index: 100;
  margin-top: -5rem;
  color: white;
  background-color: #28282b;
  border: 10px double white;
  width: 300px;
  height: auto;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}
